# Directorios de compilación (los más pesados)
target/
build/
out/
bin/

# Gestión de dependencias (Maven/Gradle)
.gradle/
.m2/

# Archivos de configuración del IDE (evita que entren configuraciones locales)
.idea/
*.iml
.classpath
.project
.settings/

# Archivos temporales y Logs
*.log
temp/

# Archivos de Docker que no deben entrar en la imagen
Dockerfile
.dockerignore