<!DOCTYPE html>
<html lang="es"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<body>
<main layout:fragment="content">
    <span id="pageTitleSetter"
          th:with="pageName='Logout'"
          style="display:none;"></span>


    <h2>Se ha desconectado correctamente</h2>
    <p>Gracias por haber usado la aplicación.</p>
    <a href="/" style="color:#003366; font-weight:bold;">Volver al inicio</a>
</main>
</body>
</html>