<!DOCTYPE html>
<html lang="es"
      layout:decorate="~{layout}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security6"
      xmlns:th="http://www.thymeleaf.org">

<body>
<main layout:fragment="content">
    <span id="pageTitleSetter"
          style="display:none;"
          th:with="pageName='Indice'"></span>


    <h2 style="color:#003366;">Indice</h2>

    <p style="font-size:18px; color:#444;">
        Escoja una opción para continuar :
    </p>

    <!-- SECCION: Acceso general -->
    <div style="margin-top:30px;">
        <a class="btn btn-primary"
           style="font-size:18px; padding:12px 20px;"
           th:href="@{/items}">
            📦 Ver la lista de items en el almacén
        </a>
    </div>

    <div style="margin-top:20px;">
        <a class="btn btn-secondary"
           style="font-size:18px; padding:12px 20px;"
           th:href="@{/login}">
            🔑 Login
        </a>
    </div>

    <div style="margin-top:30px;">
        <a class="btn btn-secondary"
           style="font-size:18px; padding:12px 20px;"
           th:href="@{//api2API Python 2}">
            📦 Ver la lista de valores de pokemon
        </a>
    </div>


    <!-- SECCION: Acceso desarrolladores -->
    <div sec:authorize="hasAnyRole('ADMIN','DEV')" style="margin-top:30px;">
        <a class="btn btn-outline-secondary"
           style="font-size:18px; padding:12px 20px;"
           th:href="@{/dev/dashboard}">
            🛠️ Espacio desarrolladores
        </a>
    </div>

    <!-- SECCION: Acceso administradores -->
    <div sec:authorize="hasRole('ADMIN')" style="margin-top:20px;">
        <a class="btn btn-outline-danger"
           style="font-size:18px; padding:12px 20px;"
           th:href="@{/users}">
            🔐 Gesti1ón de usuarios
        </a>
    </div>

    <li class="nav-item" sec:authorize="isAuthenticated()">
        <a class="nav-link" th:href="@{/pokemons}">
            <i class="bi bi-bug"></i> Pokémon
        </a>
    </li>

    <!-- Enlace de gestión de los Pokémon. Accesible para ADMIN -->
    <li class="nav-item" sec:authorize="hasRole('ADMIN')">
        <a class="nav-link text-warning" th:href="@{/pokemons/admin}">
            <i class="bi bi-gear"></i> Gestion Pokémon
        </a>
    </li>

</main>
</body>
</html>
