<!DOCTYPE html>
<html lang="es"
      layout:decorate="~{layout}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security6"
      xmlns:th="http://www.thymeleaf.org">

<body>

<main layout:fragment="content">

    <span id="pageTitleSetter"
          style="display:none;"
          th:with="pageName='Lista de items'"></span>

    <h2 th:text="${pageName} ?: 'Liste des items'">Lista</h2>
    <!-- Provisional control-->
    <div sec:authorize="isAuthenticated()">
        Usuario : <span sec:authentication="name"></span> <br/>
        Roles : <span sec:authentication="principal.authorities"></span>
    </div>
    <!-- BTN Añadir (visible solamente por ADMIN) -->
    <div style="text-align:right; margin-bottom:15px;">
        <a class="btn btn-primary"
           sec:authorize="hasRole('ADMIN')"
           th:href="@{/items/new}">
            + Añadir un item
        </a>
    </div>

    <table class="table">
        <thead>
        <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Descripción</th>
            <th sec:authorize="hasRole('ADMIN')" style="width:150px;">Acciones</th>
        </tr>
        </thead>

        <tbody>
        <tr th:each="it : ${items}">
            <td th:text="${it.id}"></td>
            <td th:text="${it.name}"></td>
            <td th:text="${it.description}"></td>

            <!-- Acciones visibles solamente por ADMIN -->
            <td sec:authorize="hasRole('ADMIN')" style="text-align:right;">
                <a class="btn btn-warning btn-small"
                   th:href="@{'/items/edit/' + ${it.id}}">
                    Modificar
                </a>

                <form method="post"
                      style="display:inline;"
                      th:action="@{'/items/delete/' + ${it.id}}"
                      th:attr="aria-label='Eliminar el item ' + ${it.id}">

                <button class="btn btn-danger btn-small"
                            onclick="return confirm('¿Suprimir este item ?');"
                            type="submit">
                        Suprimir
                    </button>
                </form>
            </td>

        </tr>
        </tbody>

    </table>

</main>
</body>
</html>