<!DOCTYPE html>
<html lang="es"
      layout:decorate="~{layout}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">

<body>
<main layout:fragment="content">
    <span id="pageTitleSetter"
          style="display:none;"
          th:with="pageName='Creación de items'"></span>


    <h2 id="form-title">Crear un item nuevo</h2>

    <form class="form-card" method="post"
          th:action="@{/items/new}"
          th:object="${item}"
          aria-labelledby="form-title">

        <!-- Thymeleaf gestiona CSRF automáticamente gracias a th:action (en test CSRF está disable -->

        <label for="name">Nombre :</label>
        <!-- Utilisation de th:field pour lier au DTO -->
        <input class="input" id="name" required th:field="*{name}" type="text">

        <label for="description">Descripción :</label>
        <textarea class="input" id="description" th:field="*{description}"></textarea>

        <button class="btn btn-primary" style="margin-top:15px;" type="submit">
            Crear
        </button>
    </form>
    <div style="margin-top:20px;">
        <a class="btn btn-secondary" th:href="@{/items}">← Volver</a>
    </div>

</main>
</body>
</html>