<!DOCTYPE html>
<html lang="es"
      layout:decorate="~{layout}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Edición de usuarios de la web</title>
</head>
<body>
<main layout:fragment="content">
    <span id="pageTitleSetter"
          style="display:none;"
          th:with="pageName='Edicion Usuarios'"></span>
    <form class="form-card" method="post" th:action="@{/users/edit/{id}(id=${userId})}">
        <label for="username">Usuario :</label>
        <input class="input" id="username" name="username" th:value="${user.username}" type="text">

        <label for="email">Email :</label>
        <input class="input" id="email" name="email" th:value="${user.email}" type="email">

        <label for="password">Contraseñ :</label>
        <input class="input" id="password" name="password" type="password">
        <small style="color: gray;">Laissez vide pour ne pas modifier le mot de passe actuel.</small>

        <label for="role">Rol :</label>
        <select class="input" id="role" name="role">
            <option th:selected="${user.role == 'ROLE_ADMIN'}" value="ROLE_ADMIN">ADMIN</option>
            <option th:selected="${user.role == 'ROLE_USER'}" value="ROLE_USER">USER</option>
            <option th:selected="${user.role == 'ROLE_DEV'}" value="ROLE_DEV">DEV</option>
        </select>

        <button class="btn btn-success" style="margin-top:15px;" type="submit">Modificar</button>
    </form>


</main>
</body>
