<!DOCTYPE html>
<html lang="es"
      layout:decorate="~{layout}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">

<body>
<main layout:fragment="content">
    <span id="pageTitleSetter"
          style="display:none;"
          th:with="pageName='Nuevo usuario'"></span>

    <h2>Crear un nuevo usuario</h2>

    <form class="form-card" method="post" th:action="@{/users/new}">
        <!-- Bloque csrf comentado a activar si al pasar a producción
        se pasa a usar la funcionalidad actualmente en SecurityConfig esta disable--
        <input th:name="${_csrf.parameterName}"
               th:value="${_csrf.token}"
               type="hidden"/>
        -->
        <label>Nombre de usuario :</label>
        <input class="input" name="username" required type="text">

        <label>email :</label>
        <input class="input" name="email" required type="text">

        <label>Contraseña :</label>
        <input class="input" name="password" required type="password">

        <label>Rol :</label>
        <select class="input" name="role">
            <option value="ROLE_ADMIN">ADMIN</option>
            <option value="ROLE_USER">USER</option>
            <option value="ROLE_DEV">DEV</option>
        </select>

        <button class="btn btn-primary" style="margin-top:15px;" type="submit">
            Crear
        </button>
    </form>

    <div style="margin-top:20px;">
        <a class="btn btn-secondary" th:href="@{/users}">← Volver</a>
    </div>

</main>
</body>
</html>