<!DOCTYPE html>
<html lang="es"
      layout:decorate="~{layout}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">

<body>
<main layout:fragment="content">
    <span id="pageTitleSetter"
          style="display:none;"
          th:with="pageName='Usuarios'"></span>
    

    <h2>Usuarios registrados</h2>

    <div style="text-align:right; margin-bottom:15px;">
        <a class="btn btn-primary" th:href="@{/users/new}">+ Crear usuario</a>
    </div>

    <table class="table">
        <thead>
        <tr>
            <th>ID</th>
            <th>Usuario</th>
            <th>Rol</th>
            <th>Email</th>
            <th style="width:150px;">Acciones</th>
        </tr>
        </thead>

        <tbody>
        <tr th:each="u : ${users}">
            <td th:text="${u.id}"></td>
            <td th:text="${u.username}"></td>
            <td th:text="${u.role}"></td>

            <td style="text-align:right;">
                <form method="post"
                      style="display:inline;" th:action="@{'/users/delete/' + ${u.id}}">
                    <input th:name="${_csrf.parameterName}"
                           th:value="${_csrf.token}"
                           type="hidden"/>
                    <button class="btn btn-danger btn-small"
                            onclick="return confirm('¿Eliminar este usuario?');"
                            type="submit">
                        Eliminar
                    </button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>

</main>
</body>
</html>