<!DOCTYPE html>
<html lang="es"
      layout:decorate="~{layout}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">

<body>
<main layout:fragment="content">
    <span id="pageTitleSetter"
          style="display:none;"
          th:with="pageName='Usuarios'"></span>


    <h2>Usuarios registrados</h2>

    <div style="text-align:right; margin-bottom:15px;">
        <a class="btn btn-primary" th:href="@{/users/new}">+ Crear usuario</a>
    </div>

    <table class="table">
        <thead>
        <tr>
            <th>ID</th>
            <th>Usuario</th>
            <th>Rol</th>
            <th>Email</th>
            <th style="width:150px;">Acciones</th>
        </tr>
        </thead>

        <tbody>
        <tr th:each="u : ${users}">
            <td th:text="${u.id}"></td>
            <td th:text="${u.username}"></td>
            <td th:text="${u.role}"></td>

            <td style="text-align:right;">
                <div class="d-flex gap-2 justify-content-end">
                    <a class="btn btn-warning btn-sm" th:href="@{/users/edit/{id}(id=${u.id})}">Modifier</a>
                    <form method="post" th:action="@{/users/delete/{id}(id=${u.id})}"
                          th:if="${#authentication.name != u.username}">
                        <!-- Si el usuario es el propio admin, no se muestra el botón de suprimir -->
                        <button class="btn btn-danger btn-sm"
                                onclick="return confirm('¿Eliminar este usuario?');"
                                type="submit">
                            Eliminar
                        </button>

                    </form>
                    <!-- Indicación al admin que es el mismo -->
                    <span class="badge bg-secondary" th:if="${#authentication.name == u.username}">Yo mismo</span>
                </div>
            </td>

        </tr>
        </tbody>
    </table>

</main>
</body>
</html>